body {
  margin: 0;
  background-color: #090812;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: #fff;
}

h1 {
	font-size: 3em;
	font-weight: bold;
}

h3 {
	font-weight: lighter;
}

#container {
	margin: 50px;
}

#vis-container {
  float: left;
}

#core-authors-list-container {
  display: inline;
}

.nodes {
  stroke-width: 1;
  stroke: black;
}

/*Tooltip*/

div.tooltip {
  position: absolute;
  text-align: left;
/*  width: 60px;
  height: 28px;*/
  padding: 2px;
  color: black;
  font: 17px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/* buttons. Citation: Baltazar Gomez on CodePen */
#buttons {
  text-align: center;
  color: #fff;
}

button {
  outline: 0;
  border: 0;
  background: none;
  margin: 25px;
  padding: 10px 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

button.core-author-toggle {
	border: 2px solid white;
}


/* sliders */
.d3-slider-horizontal {
  width: 700px;
}

#POI-sliders.active {
  opacity: 1;
}

#POI-sliders {
  opacity: 0.3;
}
