@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400');

body {
  margin: 0;
  background-color: #090812;
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
}

h3 {
	font-weight: lighter;
}

section#preamble-section {

}

section#title-section {
  background: #aaaaaa;
}

.opening-title {
  max-width: 500px;
  margin: auto;
  padding: 60px;
}

.opening-title > h1 {
  font-weight: bold;
  margin: 0;
}

.opening-title > h1.big {
  font-size: 8em;
}

.opening-title > h1.medium {
  font-size: 6em;
}

.prose-wrapper {
  font-weight: 200;
  max-width: 500px;
  margin: auto;
  margin-top: 66px;
  margin-bottom: 66px;
}

#container {
	margin: 50px;
}

#vis-container {
  float: left;
}

#core-authors-list-container {
  display: inline;
}

.nodes {
  stroke-width: 1;
  stroke: black;
}

/*Tooltip*/

div.tooltip {
  position: absolute;
  text-align: left;
/*  width: 60px;
  height: 28px;*/
  padding: 2px;
  color: black;
  font: 17px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/* buttons. Citation: Baltazar Gomez on CodePen */
#buttons {
  text-align: center;
  color: #fff;
}

button {
  position: relative;

  outline: 0;
  border: 0;
  background: none;
  margin: 6px;
  padding: 10px 35px;
  border-radius: 10px;
  width: 270px;

  font-size: 10px;
  color: #fff;
  cursor: pointer;

  transition: all 0.5s ease;
}

button.core-author-toggle {
	border: 2px solid white;
}


/* sliders */
.d3-slider-horizontal {
  width: 700px;
}

#POI-sliders.active {
  opacity: 1;
}

#POI-sliders {
  opacity: 0.3;
}
